* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.active {
  background-color: rgb(2, 104, 138);
  font-weight: bold;
  color: white;
}

.correct {
  background-color: rgb(89, 182, 89);
}

body {
  background-color: #4a4a98;
}

img {
  margin: auto;
  box-shadow: 5px 5px 20px black;
  margin-top: 20px;
  border-radius: 5px;
}

button {
  margin: 10px 5px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  img {
    width: 50%;
  }

  .time {
    width: 20%;
  }
  .buttons-container {
    width: 70%;
  }
}

.container {
  position: relative;
  margin-bottom: 150px;
}

.evaluate-button {
  animation-name: eval-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  background-color: green;
  margin: auto;
  width: 100%;
  font-size: 20px;
}

@keyframes eval-animation {
  33% {
    background-color: lightgreen;
  }
  33% {
    background-color: green;
  }
  33% {
    background-color: lightgreen;
  }
}

.startbutton {
  font-weight: bold;
  background-color: green;
  animation-name: eval-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.time {
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  position: fixed;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  top: 50%;
  left: 0;
}

#intro {
  color: white;
  width: 100%;
  background-color: #0f0f3d;
  height: 100vh;
  position: relative;
}

.intro-margin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
  list-style-type: none;
}
